{% extends 'main.html' %}

{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h2>Detail</h2>
                    {% for blogs in blogs.all %}
                    <h3>{{blog.title}}</a></h3>
                    <p>{{blog.writer}}</p>
                    <p>{{blog.pub_date}}</p>
                    <p>{{blogs.feelings}}</p>
                    <p>{{blogs.body}}</p>
                    <br>
                    <a href="{% url 'edit' post.id %}">수정하기</a>
                    <a href="{% url 'delete' post.id %}">수정하기</a>
                    {% endfor %}
                </div>
            </section>
            {% endblock %}
            <hr class="m-0" />