{% extends 'main.html' %
{% load static %}
{% block content %}
<h1>Edit</h1>
<hr>
<form action="{% url 'updaate' edit_post.id %}" method="POST">
    {% csrf_token %}
    <div>
        제목 : <input type="text" name="title" value="{{edit_post.title}}">
    </div>
    <div>
        작성자 : <input type="text" name="title" value="{{edit_post.writer}}"> 
    </div>
    <div>
        본문 : <textarea name="body" cols="40 " rows="10">{{edit_post.body}}</textarea> 
    </div>
    <button type="submit">수정</button>
</form>
{% endblock %}