{% extends 'main.html' %}
{% load static %}
{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h2>Read</h2>
                    <hr>
                    {% for posts in posts.all %}
                        <a href="{% url 'detail' posts.id %}">
                            <h3>{{posts.title}}</h3>
                        </a>
                        <b><p>{{posts.writer}}</p></b>
                        <i><p>{{posts.pub_date}}</p></i><hr>
                    {% endfor %}
                </div>
            </section>
            {% endblock %}
            <hr class="m-0" />