{% extends 'main.html' %}

{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h2>Write</h2>
                    <hr>
                    <form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            제목 : <input type ="text" name="title">
                        </div>
                        <div>
                            작성자 : <input type = "text" name="writer">
                        </div>
                        <div>
                            기분 : <input type = "text" name="feelings">
                        </div>
                        <div>
                            내용 : <textarea name="body" cols="30" rows=5></textarea>
                        </div>
                        <div>
                            업로드 : <input name="image" type="file">
                        </div>
                        <button type="submit">작성</button>
                    </form>
                    {% endblock %}
                </div>
            </section>
            <hr class="m-0" />