{% extends 'main.html' %}

{% block content %}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h2>Write</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <table>
                            {{form.as_table}}ㅈㄱ
                        </table>
                        <button class="btn btn-dark btn-xl" type="submit">작성</button>
                    </form>
                    {% endblock %}
                </div>
            </section>
            <hr class="m-0" />